#main
  
  .container

    #masthead
      %h1#name Notion

  #person_detail.closed
    .container
      #headshots
        - data.members.keys.reverse.each do |shrt|
          %div{:class => "#{shrt} headshot"}
            %img{:src => "/images/members/#{shrt}.png"}
      #details
        - data.members.each do |shrt, person|
          %div{:class => "#{shrt} person"}
            .bio
              %h3= person['full_name']
              %p= person['desc']
            .connect
              %a.twit{:target => '_blank', :href => "http://twitter.com/#{person['twitter']}"}== @#{person['twitter']}
              %a.mail{:href => "mailto:#{}"}= person['email']

  .container
    #people
      - data.members.each do |shrt, person|
        .circle{"class" => shrt, "data-name" => shrt}
          .pic
          .name
            = person['full_name'][0..(person['full_name'].index(" ") + 1)]


  %h2#location PORTLAND &nbsp;&nbsp;&nbsp; SANTA BARBRA


  //  %nav
  //    .circle.work
  //      .pic
  //      .name
  //        Work
  //    .circle.people
  //      .pic
  //      .name
  //        People
  //    .circle.about
  //      .pic
  //      .name
  //        About
